body {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;

  // position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./background.jpg);
    filter: grayscale(100%);
    z-index: -99;
  }
}

.kit {
  display: flex;
  margin-top: 100px;
  
  .left-side,
  .right-side {
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    position: relative;
  }

  .drum {
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.05s;

    .key {
      font-size: 1.5em;
      transition: all 0.1s;
      animation: shake 0.5s 1;
    }

    .description {
      font-size: smaller;
    }
  }

  .left-side {
    #high-hats {
      z-index: 1;
      height: 100px;
      width: 100px;
      margin-top: -20px;
    }

    #snare-drum {
      width: 140px;
      height: 140px;
      margin-left: -20px;
    }

    #high-tom {
      width: 100px;
      height: 100px;
      margin-left: -30px;
      margin-top: 70px;
    }

    #crash-cymbal {
      width: 150px;
      height: 150px;
      z-index: 1;
      margin-left: 40px;
    }
  }

  .right-side {
    width: 350px;

    #mid-tom {
      width: 140px;
      height: 140px;
      margin-top: 80px;
      margin-right: -50px;
      margin-left: 50px;
    }

    #ride-cymbal {
      width: 170px;
      height: 170px;
      z-index: 1;
      margin-top: 40px;
    }

    #bass {
      position: absolute;
      border-radius: 0;
      height: 150px;
      width: 250px;
      top: 20%;
      left: -120px;
      background-color: #8b0000;
      z-index: -1;
      border-radius: 5px;
    }

    #low-tom {
      width: 150px;
      height: 150px;
      margin-left: 40%;
      margin-top: -30px;
    }
  }

  .special-color {
    background: radial-gradient(
      circle,
      rgba(250, 255, 0, 1) 3%,
      rgba(255, 157, 0, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .default-color {
    background-color: rgb(235, 235, 235);

    -webkit-box-shadow: 0px 0px 0px 3px #000000,
      inset 0px 10px 27px -8px #000000, inset 0px -10px 27px -8px #a31925,
      inset 0px 0px 22px 11px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 5px rgb(80, 72, 55),
      inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #a31925,
      inset 0px 0px 22px 11px rgba(0, 0, 0, 0);
  }

  .active {
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
      0px 0px 3px 4px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
      0px 0px 3px 4px rgba(0, 0, 0, 0.47);
  }
}
